<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Available Bets:</h1>

    {% if games %}
        <p>Basketball Moneyline Bets:</p>
        {% for game in games %}
            <li>
                <a href="#">{{ game[0]['name'] }} ({{ game[0]['price'] }})</a> VS 
                <span><a href='#'>{{ game[1]['name'] }} ({{game[1]['price']}})</a></span>
            </li>
        {% endfor %}
    
    {% else %}
        <p>Failed to fetch data from the API.</p>
    {% endif %}
    
</body>
</html>
